{% extends 'base.html.twig' %}

{% block title %}Hello EvaluationController!{% endblock %}

{% block body %}

<h1>Ajouter une note</h1>
{{form(ajout)}}

<h2>Ajouter un cours</h2>

{{ form(ajoutCours) }}
{% endblock %}
